form{
    width: 100%;
    max-width: 400px;
    margin: auto;
}

form{
    margin: 0 auto;
    width: 500px;
}

h1{
    text-align: center;
    font-family: sans-serif;
}

label{
    text-align: left;
    font-family: sans-serif;
    color: gray;
}

input{
    width: 100%;
    font-size: 1.2em;
    padding: .2em;
    margin-bottom: .5em;
    border-radius: 5px;
    border: 1px solid red;
    outline: none;
}

button{
    width: 100%;
    font-size: 1.5em;
    border: none;
    background-color: gray;
    padding: .4em;
    color: white;
    border-radius: 10px;
}