* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.contenedor {
    background-color: black;
    text-align: center;
    height: 100%;
    width: 100%;
}

.primera_caja {
    background: url("../imgs/fondoCategorias.jpg") center center;
    background-size: cover;
    overflow: scroll;
}

.titulo {
    padding-top: 0.75%;
    color: burlywood;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

ul {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
    float: left;
    width: 25%;
    height: 60%;
    border: 5px black solid;
    border-radius: 20%;
    position: relative;
    margin: 4.1%;
}

.categoria {
    width: 50%;
    height: 52%;
    position: absolute;
    top: 35%;
    left: 24%;
}

p {
    text-align: center;
    margin-top: 35%;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}