* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.primera_caja {
    background-color: rgb(255, 255, 255);
    height: 5%;
}

.segunda_caja {
    background: url("../imgs/fondoCienciaFiccion.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 95%;
    overflow: scroll;
}

.contenedor {
    background-color: black;
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

ul{
    height: 100%;
    width: auto;
}

li {
    float: right;
    list-style: none;
    height: 100%;
    margin-left: 1%;
    padding-top: 0.9%;
}

li:first-child{
    float: left;
}

h1 {
    text-transform: uppercase;
    color: white;
    text-align: center;
}

.pelicula {
    margin: 5% auto;
    width: 60%;
    height: 40%;
    background-color: rgba(102, 102, 102, 0.808);
    border-radius: 10px;
    color: darkblue;
}

p {
    display: inline-block;
}

.titulo {
    padding-left: 3%;
    padding-top: 3%;
    height: fit-content;
    width: 60%;
}

.votos {
    height: fit-content;
    width: 10%;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.imgs {
    float: left;
    margin-top: 4%;
    margin-left: 5%;
    width: 15%;
    height: 70%;
}

.sinopsis {
    width: 70%;
    height: 55%;
    margin-top: 2.5%;
    margin-left: 25%;
    margin-right: 5%;
    overflow: scroll;
}

.duracion {
    padding-left: 3%;
    height: fit-content;
    width: 75%;
}

a {
    text-decoration: none;
    color: darkviolet;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: red;
}

a:active {
    color: wheat;
}