* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.contenedor {
    background-color: black;
    text-align: center;
    height: 100%;
    width: 100%;
}

.primera_caja {
    background-color: rgba(23, 173, 160, 0.11);
    height: 5%;
}

.segunda_caja {
    background-color: black;
    background: url("../imgs/ticket.png") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 95%;
}

ul {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
    float: left;
    position: relative;
    margin: 2% 44%;
}

li:first-child {
    margin: 1% 1%;
}

a{
    text-decoration: none;
}

a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

img {
    float: left;
    position: relative;
    margin: 5%;
}