* {
    margin: 0px;
    padding: 0px;
}

.primera_caja {
    background-color: rgb(23, 173, 161);
    height: 5%;
}

.segunda_caja {
    background-color: red;
    height: 90%;
}

.tercera_caja {
    background-color: yellow;
    height: 5%;
}

.contenedor {
    background-color: black;
    height: 100%;
    width: 100%;
}