* {
    margin: 0;
    padding: 0;
}

.primera_caja {
    background-color: rgb(23, 173, 161);
    height: 4%;
}

.segunda_caja {
    background-color: red;
    height: 90%;
}

.tercera_caja {
    background-color: yellow;
    height: 6%;
}

.contenedor {
    background-color: black;
    height: 100%;
    width: 100%;
}

li{
    list-style: none;
    float: left;
    font-size: max-hei;
}

.listadoPeliculas{
    background-color: white;
    width: 100%;
    height: 100%;
}