* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.primera_caja {
    width: auto;
    height: 5%;
}

.link {
    margin-left: 1%;
    padding-top: 0.9%;
}

.segunda_caja  {
    width: auto;
    height: 95%;
    background: url('../imgs/notificacion.jpg') center center;
    background-size: cover;
}

.texto {
    
    color: darkblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    position: relative;
    top: 55%;
    font-size: 300%;
}

a{
    text-decoration: none;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: blue;
}