* {margin: 0px; padding: 0px;}
.primera_caja{
    background-color: rgb(23, 173, 161);
    height: 50px;
    width: 50px;
}
.segunda_caja{
    background-color: red;
    height: 50%;
}
.tercera_caja{
    background-color: yellow;
    height: 25%;
}
.primera_columna{
    float:left;
    height: 100%;
    width:50%;
    background-color: green;

}
.segunda_columna{
    float:left;
    height: 100%;
    width:50%;
    background-color: darkblue;
}

.contenedor{
    background-color: black;
    height: 100%;
    width: 100%;
}